<html>
<head>
    {% include '_parts/head.twig' %}
</head>
<body>
<div class="container">
    {% if app.auth %}
        <div class="valign-wrapper">
            <h5 class="valign">Hello, {{ app.auth.name }}!</h5>
            <h5 class="valign"><a href="{{ urlFor('auth:logout') }}">Logout</a></h5>
        </div>
    {% else %}
        {% include '_parts/home/initial-login.twig' %}
    {% endif %}
</div>
{% include '_parts/foot.twig' %}
</body>
</html>
