{% extends '_templates/default.twig' %}

{% block content %}
    {% if not app.auth %}
        {% include '_parts/home/initial-login.twig' %}
    {% else %}
        <div style="height: 8vh;"></div>
        {% include '_parts/home/schedule.twig' %}
    {% endif %}
{% endblock %}
