<html>
<head>
    {% include '_parts/head.twig' %}
</head>
<body>
{#<div class="progress" style="margin: 0;">
    <div class="indeterminate"></div>
</div>#}
{% if app.auth %}
    {% include '_parts/topbar.twig' %}
{% endif %}
<main class="container">
    {% if not app.auth %}
        {% include '_parts/home/initial-login.twig' %}
    {% else %}
        <div style="margin-top: 5em;"></div>
        {% include '_parts/home/schedule.twig' %}
    {% endif %}
</main>
{% include '_parts/foot.twig' %}
</body>
</html>
