.topbar {
    padding : 0 1em;

    a {
        font-size : 1.3em;

        &.brand-logo {
            font-size : 2.1rem;
        }

    }

    li {
        position : relative;

        span.notification-count {
            position    : absolute;
            top         : .5em;
            left        : 100%;
            margin-left : -1.8em;
            font-size   : .58em;
            line-height : 1.1em;
            background  : #f44336;
            padding     : .2em .4em;
            opacity     : 0;
            @include trans(opacity .2s);

            &[data-notifications] {
                opacity : 1;
            }
        }

        &.logo {
            text-align    : center;
            margin-top    : 32px;
            margin-bottom : 80px;
            font-size     : 3em;
            font-weight   : bold;

            a:hover {
                background-color : inherit;
            }
        }

        &.divider {
            height      : 100%;
            margin-left : 8px;
            width       : 8px;
            background  : transparent;
            position    : relative;

            &::after {
                content    : ' ';
                display    : block;
                position   : absolute;
                width      : 1px;
                height     : 80%;
                top        : 10%;
                background : rgba(255, 255, 255, 0.6);
            }
        }

    }

    #notifications-dropdown {

        > li {
            border-bottom : 1px solid rgba(0, 0, 0, .1);

            &:last-child {
                border-bottom : none;
            }

            &:hover {
                background-color : transparent;
            }

            & > a {

                &[data-i] {
                    color  : #424242;
                    cursor : default;

                    &:hover {
                        background-color : transparent;
                    }

                    &::before {
                        content : attr(data-i) ': ';
                    }

                }

            }

        }

    }

}
