<div class="valign-wrapper initial-login">
    <div class="valign">
        <div class="row login-container">
            <div class="row">
                <div class="col s12">
                    <h2>Login</h2>
                </div>
                <form class="col s12 login-form" method="POST" action="{{ urlFor('auth:login.post') }}" @submit.prevent="postData">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="identifier" name="identifier" type="text" class="validate">
                            <label for="identifier">User ID</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                        <div class="col s12 right-align">
                            <button class="btn btn-large waves-effect" :class="{ 'btn-loading': loading, 'btn-success': btnSuccess }">Login</button>
                        </div>
                    </div>
                    <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .initial-login {
        height: 100vh;
    }

    .initial-login .valign {
        width: 100%;
    }

    .row.login-container {
        width: 50%;
        margin: 0 auto;
    }
</style>
<script>
    addLoadEvent(function() {
        {{ static('js/vue/loginVM.min.js') }}
    });
</script>
